tensorflow
pandas
numpy
scikit-learn
tensorboard
matplotlib
streamlit
scikeras
nltk
langchain
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
chromadb
langchain_chroma
ipykernel
langchain_groq
langchain_core
fastapi
uvicorn
langserve
arxiv
wikipedia
duckduckgo-search
SQLAlchemy
mysql-connector-python
validators==0.28.1
youtube_transcript_api
pytube
unstructured
numexpr
huggingface_hub
gradio
boto3
awscli
category_encoders
streamlit_authenticator
streamlit_oauth
asyncio
langchain_nvidia_ai_endpoints
crewai
crewai_tools
neo4j==5.14
